{% extends 'account/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block accountcontent %}
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'messages_inbox' %} ">Inbox</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'messages_outbox' %} ">Sent Messages<a/></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'messages_compose' %} ">New Message<a/></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'messages_trash' %} ">Trash</a></li>
    </ul>
</nav>
{% block mailcontent %}{% endblock %}
{% endblock %}
