{% extends 'marketplace/layout.html' %}
{% load static %}

{% block content %}
<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">About Us</h2>
                <p class="d-table-row" style="width: 1100px;margin-right: 2px;margin-left: 2px;height: auto;">
                    <br>We are three Students from Germany. We are very interested in protecting our planet. We want to reduce the consumption of cotton and polyester. Most of the people buy new clothes although their old clothes are still in good condition.
                    People sort out their old clothes and throw them away. Exactly at this point our idea may prevent this. Our Idea is based on a free tradingplace for clothing. You can offer old clothes or clothes that you don´t like anymore. There
                    are a lot of people who still like your clothes. This idea may prevent some people to buy new manufactured clothes.<br><br>
                </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="{% static "assets/img/WhatsApp%20Image%202019-10-02%20at%2014.22.38.jpeg" %}">
                        <div class="card-body info">
                            <h4 class="card-title">Zeno Berkhan</h4>
                            <p class="card-text">Student at DHBW Karlsruhe. Employee at dmTECH GmbH.<br></p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="{% static "assets/img/WhatsApp%20Image%202019-10-02%20at%2014.18.24.jpeg" %}">
                        <div class="card-body info">
                            <h4 class="card-title">Paul Meyer</h4>
                            <p class="card-text">Student at DHBW Karlsruhe. Employee at Aunovis GmbH.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="{% static "assets/img/WhatsApp%20Image%202019-10-02%20at%2014.15.59.jpeg" %}">
                        <div class="card-body info">
                            <h4 class="card-title">Nico Diefenbacher</h4>
                            <p class="card-text">Student at DHBW Karlsruhe. Employee at dmTECH GmbH.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}