{% extends 'marketplace/layout.html' %}
{% load static %}

{% block content %}

<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image: url(&quot;{% static "assets/img/apparel-attire-blur-994517.jpg" %}&quot;);color: rgba(255,255,255,0.24);">
    <div class="text">
        <h2>Save the world with your old clothes.</h2>
        <p>Offer and trade your old clothes with other people. Secondhand is the new trend.&nbsp;</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
    </div>
    </section>
   <section class="clean-block features" style="height: auto;padding-bottom: 0px;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Why GreenClothaWay</h2>
                </div>
                <div class="row justify-content-center" style="padding: 0px;">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>CO² emissions</h4>
                        <p>The whole clothing industry consumes more CO² as the annual shipping and international flights.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Water savings</h4>
                        <p>Cotton needs a lot of water to grow. Especially in dry regions is a high water consumption&nbsp;</p>
                    </div>
                    <div class="col-md-5 feature-box" style="padding-bottom: 0px;"><i class="icon-screen-smartphone icon"></i>
                        <h4>Chemical pollution</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box" style="padding-bottom: 0px;"><i class="icon-refresh icon"></i>
                        <h4>Child labor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                </div>
            </div>
        </section>
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading" style="padding-top: 80px;">
                <h2 class="text-info">About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="{% static "assets/img/img38.jpeg" %}">
                        <div class="card-body info">
                            <h4 class="card-title">Zeno Berkhan</h4>
                            <p class="card-text">Student at DHBW Karlsruhe. Employee at dmTECH GmbH.<br></p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="{% static "assets/img/img24.jpeg" %}">
                        <div class="card-body info">
                            <h4 class="card-title">Paul Meyer</h4>
                            <p class="card-text">Student at DHBW Karlsruhe. Employee at Aunovis GmbH.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="{% static "assets/img/img59.jpeg" %}">
                        <div class="card-body info">
                            <h4 class="card-title">Nico Diefenbacher</h4>
                            <p class="card-text">Student at DHBW Karlsruhe. Employee at dmTECH GmbH.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
