{% extends 'marketplace/layout.html' %}
{% load static %}

{% block content %}
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container" style="margin: 8px 26.5px;margin-top: 8px;margin-bottom: 8px;margin-right: auto;margin-left: auto;">
            <div class="block-content">
                <div class="clean-related-items">
                    <h3>All Products</h3><div class="filter">
                        <form>
                            <input placeholder="e.g Blue Chair, Sofa or Post Modern"></input><br>
                            <select>
                                <option value="" disabled selected>Type</option>
                                <option value="">Accessoires</option>
                                <option value="">Pants</option>
                                <option value="">T-Shirt</option>
                            </select>
                            <select>
                                <option value="">Colours</option>
                            </select>
                            <select>
                                <option value="" disabled selected>Size</option>
                                <option value="">32</option>
                                <option value="">34</option>
                                <option value="">36</option>
                                <option value="">38</option>
                                <option value="">40</option>
                                <option value="">42</option>
                            </select>
                            <select>
                                <option value="">Price</option>
                            </select>
                            <select>
                                <option value="">Delivery</option>
                            </select>


                        </form>
                    </div>
                    <div class="items">
                        <div class="row justify-content-center" style="margin: 15px -15px;">
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="pricing.html">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="#">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="#">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin: 15px -15px;">
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="#">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="#">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="#">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin: 15px -15px;">
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="#">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="#">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static "assets/img/tech/image2.jpg" %}"></a></div>
                                    <div class="related-name">
                                        <a href="#">Lorem Ipsum dolor</a>
                                        <div class="rating"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star.svg" %}"><img src="{% static "assets/img/star-half-empty.svg" %}"><img src="{% static "assets/img/star-empty.svg" %}"></div>
                                        <h4>$300</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}