{% extends 'account/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block accountcontent %}
<div class="block-content" style="padding: 7px;">
    <h2 class="text-left text-info" style="margin-bottom: 0px;">Your Inserations</h2>
    <div class="row">
        <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg"/>
            <p class="text-center">Paragraph</p>
        </div>
        <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg"/>
            <p class="text-center">Paragraph</p>
        </div>
        <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg"/>
            <p class="text-center">Paragraph</p>
        </div>
    </div>
</div>
{% endblock %}