{% extends 'marketplace/layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<main class="page blog-post-list">
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading" style="padding-top: 30px;margin: 10px 0px;">
                <h2 class="text-left text-info" style="margin-bottom: 0px;">Your Profile</h2>
                <p class="text-left" style="margin: 0px;">View all information about your account</p>
            </div>
            <div class="block-content" style="padding: 7px;padding-top: 7px;">
                <div class="row">
                    <div class="col-lg-5"><img class="rounded img-fluid" src="tech/image4.jpg" style="padding: 40px;" /></div>
                    <div class="col-lg-7">
                        <h3 style="margin: 10px 10px;">{{request.user.first_name}} {{request.user.last_name}}</h3>
                        <div class="info"></div>
                        <div class="row">
                            <div class="col">
                                <p class="text-center">Inserations</p>
                            </div>
                            <div class="col">
                                <p class="text-center">CO² reduction</p>
                            </div>
                            <div class="col">
                                <p class="text-center">Gave Away´s</p>
                            </div>
                            <div class="col">
                                <p class="text-center">Rating</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-center">{{request.user.inserations}}</p>
                            </div>
                            <div class="col">
                                <p class="text-center">{{request.user.co2}}</p>
                            </div>
                            <div class="col">
                                <p class="text-center">{{request.user.sells}}</p>
                            </div>
                            <div class="col">
                                <p class="text-center">{{request.user.rating}}</p>
                            </div>
                        </div>
                        <p>Through your activity on GreenClothaWay you sdadspoküda d dsak da ölksd salkj dkjsa dsa dsadlkj lkjdsaj dslkjdsalkj dsalkj dsalkj dsa lkdsalkj dsalkj dsalkj dsalkj lkjdsalkj dsalkjlkj dsalkjlkj dsalkjlkj dsalkjlkj lkjdsalkj lkjdsalkj
                            dsa</p>
                    </div>
                </div>
                <div class="block-content" style="padding: 7px;padding-top: 7px;">
                    <h3 style="margin: 10px 10px;">Profile Information</h3>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">Username</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.username}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">Email</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">First Name</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.first_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">Last Name</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.last_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="height: auto;"><a href="#"><br />Edit your Profile Information<br /><br /></a></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">Street</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.street}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">House Number</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.housenumber}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">Zip Code</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.plz}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">City</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.city}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-left">Country</p>
                                </div>
                                <div class="col">
                                    <p class="text-left">{{request.user.country}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-content" style="padding: 7px;">
                <h2 class="text-left text-info" style="margin-bottom: 0px;padding: 10px;">Your Inserations</h2>
                <div class="row" style="padding: 0px;">
                    <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg" />
                        <p class="text-center">Paragraph</p>
                    </div>
                    <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg" />
                        <p class="text-center">Paragraph</p>
                    </div>
                    <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg" />
                        <p class="text-center">Paragraph</p>
                    </div>
                </div>
            </div>
            <div class="block-content" style="padding: 7px;">
                <h2 class="text-left text-info" style="margin-bottom: 0px;">Your Inserations</h2>
                <div class="row">
                    <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg" />
                        <p class="text-center">Paragraph</p>
                    </div>
                    <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg" />
                        <p class="text-center">Paragraph</p>
                    </div>
                    <div class="col"><img class="rounded img-fluid" src="tech/image4.jpg" />
                        <p class="text-center">Paragraph</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Your Profile</h2>
                <p>Here you can view and edit your profile</p>
            </div>
            <form method="post">
            {% csrf_token %}
             {% for field in account_form %}
                <p>
                    {% bootstrap_field field %}
                </p>
            {% endfor %}
              <button class="btn btn-primary btn-block" type="submit">Save Changes</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}